<h1 class='page-header'>Leaderboard</h1>

<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered table-striped" id="example">
  <thead>
    <tr>
      <th><a href="#" data-toggle="tooltip" title="Ranking of the Player">Rank</a></th>
      <th><a href="#" data-toggle="tooltip" title="Name of the Player">Name</a></th>
      <th><a href="#" data-toggle="tooltip" title="Current ELO Score">Score</a></th>
      <th><a href="#" data-toggle="tooltip" title="Number of Games Played">Games Played</a></th>
      <th><a href="#" data-toggle="tooltip" title="Statistics">Statistics</a></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><a href="<%=user.id%>/history"><%= get_name(user) %></a></td>
        <td><%= user.ranking %></td>
        <td><%= user.played %></td>
        <% result_array = [];user.games.each{|g| result_array<<g.game_result(user) } %>
        <td><%= result_array.count("W") %>W - <%= result_array.count("L") %>L</td>
      </tr>
    <% end %>
  </tbody>
</table>
